---
import { Navbar, Footer } from "../components/";
import '../styles/globals.css';
const { title } = Astro.props;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Arch Studio {title ? '' : '|' + title}</title>
	</head>
	<body class='max-w-[1110px] m-auto relative'>
		<Navbar client:load />
		<div class="md:mx-20 lg:mx-0">
			<slot />
		</div>
    <Footer client:load />
	</body>
</html>
